[Unit]
Description=cu-scanner service
After=NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service

[Service]
Type=simple
ExecStart=/usr/bin/cu-scanner -c /etc/cu-scanner/cu-scanner.toml -d
KillMode=process
Restart=on-failure
RestartSec=42s

[Install]
WantedBy=multi-user.target